* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}

body {}

.container-div {
    backdrop-filter: blur(7px);
    border-radius: 15px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 25px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.048);
    width: 20vh;
}
}

.container-label {
    text-align: left;
    width: 10vh;
}

.container-h1 {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px solid #2979ff;
}

.input-container {
    width: calc(100% - 20%);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #2979ff;
    color: #fff;
    font-size: 15px;
}

.container-button {
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color: #2979ff;
    font-size: 18px;
    color: #fafafa;
}

.container-konten {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container:hover {
    background-color: #2979ff;
    border-radius: 5px;
    transition: .2s ease-in-out;
    transition-delay: 10ms;
}